@import url('https://fonts.googleapis.com/css2?family=Roboto&family=STIX+Two+Text&display=swap');

body {
  background-color: lightyellow;
  color: navy;
  font-family: 'STIX Two Text', serif;
  line-height: 150%;
  text-align: justify;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  /* background-color: lime; */
  border-color: orange;
  border-style: solid;
  border-width: 1px 0 0 10px;
  padding: 8px 10px 6px;

}

#title {
  text-align: center;
}

.remark {
  color: green;
  background-color: greenyellow;
  border: orange solid 1px;
  padding: 8px;
}